<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../template/css/style.css">
    <link rel="stylesheet" href="../template/css/container.css">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet"> -->
    <title>Главная</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <img class="header__logo" src="../template/images/logot.svg" alt="" width="54">
            <lu class="nav">
                <li class="nav__item"><a class="nav__link" href="#about">О нас</a></li>
                <li class="nav__item"><a class="nav__link" href="#product">Услуги</a></li>
                <li class="nav__item"><a class="nav__link" href="#footer">Контакты</a></li>
                <li class="nav__item"><a class="nav__link" href="profile">Профиль</a></li>
            </lu>
        </div>
        <div class="text">
            <h1 class="text__title">Мы построим для вас дом мечты</h1>
            <span class="text__subtitle">Ждем вашего заказа.</span>

        </div>

        <div class="about" id="about">
            <h2>О нас</h2>
            Мы современная, технологичная компания, которая с 2005 года проектирует и строит экологичные загородные дома
            «под ключ».
            Мы предлагает своим клиентам беззаботное и легкое строительство. Заказчик может не вдаваться в технические
            детали стройки, но при этом будет уверен в том, что:
            <ul>
                <li>Используются оптимальные, проверенные, совместимые между собой технологии и материалы;</li>
                <li>При проектировании применяются современные архитектурные и дизайнерские решения, которые при необходимости позволят быстро продать дом и вернуть вложенные деньги;</li>
                <li>Все строительные и монтажные процессы соответствуют строительным нормам и правилам, а качество контролируют опытные специалисты;</li>
                <li>Сотрудники всех уровней искренне заинтересованы в том, чтобы в результате сотрудничества получился теплый и уютный дом;</li>
                <li>Следующие за общей стройкой отделка и эксплуатация дома не потребуют переделок и дополнительных финансовых вливаний.</li>
            </ul>
        </div>
        <h2 class="product__title">Услуги</h2>
        <div class="product" id="product">

            <div class="card">
                <a href="house" class="link">
                    <img class="card__img" src="../template/images/h1.jpg" alt="" width='260'>
                    <div class="card__text">
                        Построить дом
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="design" class="link">
                    <img class="card__img" src="https://w2studio.com.ua/wp-content/uploads/2016/01/blog-1.jpg" alt="" width='260'>
                    <div class="card__text">
                        Сделать ремонт
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="advice" class="link">
                    <img class="card__img" src="https://its01.ru/upload/iblock/fdf/fdfa5e09f866950adf7879256b8d5cec.jpg" alt="" width='260'>
                    <div class="card__text">
                        Прочии услуги
                    </div>
                </a>
            </div>

        </div>
        <div class="footer" id="footer">
            <ul>
                <li>телефон: 299999</li>
                <li>Адрес: Саранск</li>
            </ul>
        </div>
    </div>
</body>

</html>